<style>
  .personal-section{
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .personal-header{
    text-align: center;
  }

  .personal-header h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }

  .personal-header p{
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #000000d4;
    margin: 0;
    padding: 0;
  }

  .personal-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

  .personal-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
  }

  .staff-container {
    text-align: center;
  }

  .staff-image-container {
    width: 200px;
    height: 200px;
  }
  
  .staff-image-container img {
    width: 100%;
    object-fit: cover;
  }

</style>

  <div class="social-media-image-header">
    {%- if section.settings.title != blank -%}
        <h2>{{ section.settings.title }}</h2>
    {%- endif -%}
  </div>

  <div class="social-media-image-container">
    {%- for block in section.blocks -%}
      <div class="staff-container" {{ block.shopify_attributes }}>
          <div class="staff-image-container"> 
            {%- if block.settings.staff_image != blank -%}
              {{
                block.settings.staff_image
                | image_url: width: '160x160'
                | image_tag: block.settings.staff_image.alt, '160x160'
              }}
            {%- endif -%}
          </div>
      </div>
    {%- endfor -%}
  </div>

{% schema %}
{
  "name": "Social Media Image",
  "tag": "section",
  "class": "social-media-image-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Follow us @bywildblooms on Instagram"
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Staff image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Media",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}