<style>
  .social-media-image-section{
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .personal-header{
    text-align: center;
  }

  .social-media-image-header h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }

  .social-media-image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
  }

  .image-container {
    text-align: center;
  }

  .staff-image-container {
    width: 200px;
    height: 200px;
  }
  
  .staff-image-container img {
    width: 100%;
    object-fit: cover;
  }

</style>

  <div class="social-media-image-header">
    {%- if section.settings.title != blank -%}
        <h2>{{ section.settings.title }}</h2>
    {%- endif -%}
  </div>

  <div class="social-media-image-container">
    {%- for block in section.blocks -%}
      <div class="image-container" {{ block.shopify_attributes }}>
          <div class="more-info-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 70, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>

{% schema %}
{
  "name": "Social Media Image",
  "tag": "section",
  "class": "social-media-image-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Follow us @bywildblooms on Instagram"
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Staff image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Media",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}