  
  .more-info-header{
    text-align: center;
  }

  .more-info-header h2{
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
  }

  .more-info-header p{
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .more-info-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

  .more-info_items_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
  }

  .more-info_items {
    text-align: center;
  }

  .item-title{
    font-weight: 600;
    color: #000000;
  }

  .more-info_items_description p{
    margin: 0;
    padding: 0;
    max-width: 200px;
  }