.testimonials-section h2 {
  text-align: center;
}

.testimonials .swiper-wrapper {
  display: flex;
  justify-content: center;
}

.swiper.testimonials-slider {
  max-width: 1200px;
}

.testimonials {
  justify-content: center;
}

.swiper-slide.testimonials {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.testimonial-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-image-container img {
  width: 100%;
  object-fit: cover;
}

.testimonials_description {
  background-color: white;
  color: black;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 600px;
  padding: 10px;
}

.testimonials_description p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 1.2rem;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
}

.swiper.testimonials-slider .swiper-button-next,
.swiper.testimonials-slider .swiper-button-prev:empty {
  display: block;
  color: white;
}

.star-author_container {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.star-rating:empty {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 16px;
}

.star-rating:before {
  content: "\2605\2605\2605\2605\2605";
  background: linear-gradient(
    90deg,
    #f1b824 var(--star-percent),
    #e1e1e1 var(--star-percent)
  );
  background-clip: text;
  color: transparent;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;
}

@media screen and (max-width: 768.98px) {
  .testimonials_description {
    width: 300px;
  }

  .swiper-slide.testimonials {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .swiper-slide.testimonials img {
    display: none;
  }

  .swiper.testimonials-slider .swiper-button-next,
  .swiper.testimonials-slider .swiper-button-prev:empty {
    display: none;
  }

  .swiper-scrollbar.swiper-scrollbar-horizontal {
    background-color: rgb(85, 85, 85);
    margin-top: 20px;
    display: flex;
  }

  .swiper-scrollbar-drag {
    background-color: white;
  }
}
